


*.bak
*~
*.o
*.obj
*.a
*.lib
*.so
*.class
*.jar

compopt
outcpp
rsplib
rsplink
gccver.opt

*.exe
objlin/
objlin_uic/
objlin_uid/
objlin_uif/
objlin_ui_/
ppo/
error
error--*
log-*

commit-message
g-*
/*.savex
