


*.bak
*~
*.o
*.obj
*.a
*.lib
*.so
*.class
*.jar

compopt
outcpp
rsplib
rsplink
gccver.opt

*.exe

objlin/
objlin_ui_/
objlin_uic/
objlin_uif/
objlin_uid/

objmng/
objmng_ui_/
objmng_uic/
objmng_uiw/
objmng_uif/


ppo/
error
error--*
log-*

commit-message
g-*
/*.savex

exe-db2/
exe-my/
exe-ora/
exe-pg/
exe-sqlite3/




